################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PoolManager/build/tmp/Release
/PoolManager/build/bin/Release
/PoolManager/build/tmp/Debug
/PoolManager/build/bin/Debug
